h1{
  font-family: 'Gravitas One', cursive;
  font-size: 4em;
  text-align: center;
  /*text-shadow: 4px 4px 4px #dddddd;*/
}

/*font-family: 'Cormorant SC', serif;
font-family: 'Farsan', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Shrikhand', cursive;
font-family: 'Copse', serif;
font-family: 'Gravitas One', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Amatic SC', cursive;*/

head, body{
  background-color: #ccccdd;
}
#content{
  width:75%;
  height: 50vh;
  background-color: #dfdfdf;
}

/*#footer {
  : center;
}*/
#footer {
  margin-left: auto;
  margin-right: auto;

}
#uci-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#contactinfo {
  text-align: center;
}

.main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
